*{
    margin: 0;
    padding: 0;
}
.price-table{
    padding: 60px 0;
}
.single-price{
    margin: 4px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover{
    box-shadow: 0 2px 20px #fff;
}
.single-price hr{
    border: 3px solid rgb(0,255,106);
}
.single-price:nth-child(2) hr{
    border: 3px solid #22adc9;
}
.price-head{
    text-align: center;
}
.price-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
ul li{
    border-bottom: 1px solid #fff;
    padding: 15px 10px;
    list-style: none;
}
ul li:last-child{
    border: none;
}
.fa{
    padding: 0 10px;
    color: #489f00;
    font-size: 20px;
}

